.grid-container {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid var(--element-12);
  border-radius: 10px;
  box-shadow: 0 0 8px 0 var(--element-12);
  transition: 0.5s;
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

.grid-container:hover {
  border: 1px solid var(--element-3);
}

.grid-item {
  display: block;
  background-color: var(--surface-2);
  color: var(--element-3);
  padding: 2%;
  width: 100%;
}

.grid-item-1 {
  font-size: 1.5rem;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.grid-item-2 {
  font-size: 1.2rem;
}

.grid-item-3 {
  font-size: 1.2rem;
}

.grid-item-4 {
  font-size: 1rem;
  line-height: 25px;
}

.grid-item-5 {
  font-size: 1rem;
  font-weight: bold;
}

.grid-item-6 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.apply {
  float: right;
}
