.pagination-wrapper {
  margin-bottom: 20px;
}

.inner-pagination {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.adzuna {
  text-align: center;
  color: var(--element-4);
}

.adzuna a:hover {
  color: var(--primary-1);
  text-decoration: underline;
  transition: all 0.3s;
}
