form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  form {
    flex-direction: column;
  }

  .zipcode-container {
    width: 100%;
  }

  .remote-container {
    margin-top: 20px;
    width: 100%;
  }
  .distance-container {
    margin-top: 20px;
    width: 100%;
  }

  .search-button {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .remote-container {
    padding-top: 20px;
  }
}
